<div class="video-container">

    <div class="blocked" ng-transclude>

    </div>

    <div class="blocker" ng-show="enabled && activated"
         style="background-color: #000; opacity: 0.6; width: 100%; height: 100%; color: #FFF;">
        <div
                round-progress
                max="100"
                current="current"
                color="#45ccce"
                bgcolor="#eaeaea"
                radius="100"
                stroke="20"
                semi="false"
                rounded="true"
                clockwise="true"
                responsive="false"
                animation="easeInOutQuart"
                animation-delay="0"
                style="position:absolute; top:50%; left: 50%; transform: translateY(-50%) translateX(-100px);">

        </div>
        <div style="position:absolute; top:50%; left: 50%; transform: translateY(-50%) translateX(-50%); text-align: center;">
            NEXT CLIP IN <br/>{{seconds_left}}s
        </div>
    </div>
</div>
