<blocking-overlay enabled="ctrl.ovEnabled" activated="ctrl.ovActivated"
                  callback="ctrl.overlayCompleted()">

    <videogular class="blocked" vg-auto-play="ctrl.autoplay" vg-theme="ctrl.config.theme.url"
                vg-player-ready="ctrl.onPlayerReady($API)"
                vg-cue-points="ctrl.config.cuePoints">
        <vg-media vg-src="ctrl.config.sources">
        </vg-media>
        <vg-controls>
            <vg-play-pause-button></vg-play-pause-button>
            <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
            <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-cue-points vg-cue-points="ctrl.config.cuePoints.console"></vg-scrub-bar-cue-points>
            </vg-scrub-bar>
            <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
            <vg-time-display>{{ totalTime | date:'mm:ss':'+0000' }}</vg-time-display>
            <vg-volume>
                <vg-mute-button></vg-mute-button>
                <vg-volume-bar></vg-volume-bar>
            </vg-volume>
            <vg-fullscreen-button></vg-fullscreen-button>
        </vg-controls>
    </videogular>
</blocking-overlay>
<h3>Media Fragment: {{ctrl.config.sources[0].src}}</h3>
