<div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Add/Edit a Clip</h4>
</div>
<form name="videoform" novalidate ng-submit="saveFragment()">
    <div class="modal-body">

        <div class="form-group" ng-class="{'has-error': videoform.start.$error.required && videoform.start.$touched }">
            <label for="inputStart" class="control-label">Start Time</label>

            <span class="badge green">REQUIRED</span>
            <input type="number" id="inputStart" class="form-control" name="start" ng-model="video.start"
                   placeholder="0"
                   required>

            <div ng-messages="videoform.start.$error && !videoform.$pristine" style="color:maroon" role="alert">
                <div ng-message="required">You need to enter a start time for this Clip.</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': videoform.end.$error.required && videoform.end.$touched }">
            <label for="inputEnd" class="control-label">End Time</label>

            <span class="badge green">REQUIRED</span>
            <input type="number" id="inputEnd" class="form-control" name="end" ng-model="video.end"
                   placeholder="0"
                   required>

            <div ng-messages="videoform.end.$error && !videoform.$pristine" style="color:maroon" role="alert">
                <div ng-message="required">You need to enter a end time for this Clip.</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': videoform.name.$error.required && videoform.name.$touched }">
            <label for="inputName" class="control-label">Name of the Clip</label>
            <span class="badge green">REQUIRED</span>
            <input type="text" id="inputName" class="form-control" name="name" ng-model="video.name" placeholder="Video Name"
                   required>

            <div ng-messages="videoform.name.$error && !videoform.$pristine" style="color:maroon" role="alert">
                <div ng-message="required">You need to enter a Name for this Clip.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputTags" class="control-label">Tags</label>
            <input type="text" id="inputTags" class="form-control" name="tags" ng-model="video.tags" placeholder="tag1, tag2, etc">
        </div>

        <div class="form-group" ng-class="{'has-error': videoform.url.$error.maxlength && videoform.url.$touched }">
            <label for="inputDescription" class="control-label">Short Description</label>
            <span class="badge green">Max. 100</span>
            <input type="text" class="form-control" id="inputDescription" name="description" ng-maxlength="100"
                   ng-model="video.description" placeholder="Description">

            <div ng-messages="videoform.title.$error && !videoform.$pristine" style="color:maroon" role="alert">
                <div ng-message="maxlength">Max 100 characters for the Description</div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="videoform.$invalid">Save changes</button>
        <button type="button" class="btn btn-default" ng-click="dismiss()">Close</button>
    </div>
</form>
