<div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Add a new Video</h4>
</div>
<form name="videoform" novalidate ng-submit="saveVideo()">
    <div class="modal-body">

        <div class="form-group" ng-class="{'has-error': videoform.title.$error.required && videoform.title.$touched }">
            <label for="inputTitle" class="control-label">Title</label>

            <span class="badge green">REQUIRED</span>
            <input type="text" id="inputTitle" class="form-control" name="title" ng-model="video.title"
                   placeholder="Title"
                   required>

            <div ng-messages="videoform.title.$error && !videoform.$pristine" style="color:maroon" role="alert">
                <div ng-message="required">You need to enter a Title for this video.</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': videoform.url.$error.required && videoform.url.$touched }">
            <label for="inputUrl" class="control-label">Video Url</label>
            <span class="badge green">REQUIRED</span>
            <input type="url" id="inputUrl" class="form-control" name="url" ng-model="video.url" placeholder="Video URL"
                   required>

            <div ng-messages="videoform.title.$error && !videoform.$pristine" style="color:maroon" role="alert">
                <div ng-message="required">You need to enter a URL for this video.</div>
                <div ng-message="url">You need to enter a valid URL for this video.</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': videoform.type.$error.required && videoform.type.$touched }">
            <label for="inputType" class="control-label">Video Type</label>
            <span class="badge green">REQUIRED</span>
            <select id="inputType" class="form-control" name="type" ng-model="video.type" required>
              <option value="video/mp4" selected>MP4</option>
              <option value="video/ogg">OGG</option>
            </select>
            <div ng-messages="videoform.title.$error && !videoform.$pristine" style="color:maroon" role="alert">
                <div ng-message="required">You need to enter a type for this video.</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': videoform.url.$error.maxlength && videoform.url.$touched }">
            <label for="inputDescription" class="control-label">Short Description</label>
            <span class="badge green">Max. 100</span>
            <input type="text" class="form-control" id="inputDescription" name="description" ng-maxlength="100"
                   ng-model="video.description" placeholder="Description">

            <div ng-messages="videoform.title.$error && !videoform.$pristine" style="color:maroon" role="alert">
                <div ng-message="maxlength">You did not enter a field</div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="videoform.$invalid">Save changes</button>
        <button type="button" class="btn btn-default" ng-click="dismiss()">Close</button>
    </div>
</form>
