.green {
    background-color: #4cae4c;
    color: #FFF;
}
.media-fragments {
    border: 1px solid #2b669a;
    margin-bottom: 5px;
    padding: 10px;
}

.video-container {
    width: 100%;
    height: 400px;
    position: relative;
    .blocker, .blocked {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }
    .blocker {
        z-index: 3;

    }
}