<div class="row" ng-controller="MenuController">
    <section  class="col-sm-3" keypress>
        <button type="button" class="btn btn-primary" ng-click="saveStorage()">Save in LocalStorage</button>
        <h3>Selected Video</h3>

        <div class="media-fragments">
            <div class="">
                <h4 class="media-heading">{{selected.name}}</h4>

                <p>{{selected.description}}</p>

                <div class="btn-group btn-group-xs" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary" ng-click="playVideo()">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span> PLAY
                    </button>
                    <button type="button" class="btn btn-warning" ng-click="editMainVideo()">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
                    </button>
                    <div class="btn-group btn-group-xs" uib-dropdown>
                        <button id="single-button" type="button" class="btn btn-warning" uib-dropdown-toggle>
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> CHANGE
                            <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-repeat="video in videos">
                                <a href="" ng-click="changeVideo(video)">{{video.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="addDialog()">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> ADD
                    </button>
                </div>
            </div>
        </div>
        <hr/>
        <button type="button" class="btn btn-primary" ng-click="addFragment()">Add new Fragment</button>
        <label>
            <input type="checkbox" ng-model="autoplay"> Auto-play Next Clip
        </label>
        <hr/>
        <h3>Current Fragments</h3>
        <nav class="media-fragments" ng-repeat="(key, item) in selected.subvideos.console">
            <div class="">
                <h4 class="media-heading">{{item.params.name}}</h4>

                <p>{{item.params.description}}</p>

                <div class="btn-group btn-group-xs" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary" ng-click="selectFragment(key, item)">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span> PLAY
                    </button>
                    <button type="button" class="btn btn-warning" ng-click="editFragment(item)">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> EDIT
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="removeFragment(item)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> REMOVE
                    </button>
                </div>
            </div>
        </nav>
    </section>
    <section class="col-sm-9">
            <video-player api="api"
                          ov-enabled="autoplay"
                          videos="videos"
                          current="current">
            </video-player>
    </section>
</div>
